* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  text-decoration: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.disabled {
  opacity: 0.5;
}
